<!doctype html>
<html lang="en">
<head>
    {{ include('base/header.twig') }}
    <title>404</title>
</head>
<body>
<h1>Упс, а мы ничего не нашли :/</h1>

{{ include('base/footer.twig') }}
</body>
</html>